body{
    background-image: url("https://images.adsttc.com/media/images/5c2c/c339/08a5/e5e5/7e00/02b2/newsletter/noname.jpg?1546437346");
    background-size:cover;
    background-repeat: no-repeat;
}
.reset{
    width: 130px;
    height: 50px;
}
.class{
    position: relative;
}
.reset{
    position: absolute;
    right: 75px;
    left: 25px;
}
.home1{
    border-radius: 10px;
    width: 110px;
    height: 40px;
    background-color: aquamarine;
}
.away1{

    border-radius: 10px;
    width: 110px;
    height: 40px;
    background-color: aquamarine;


}
.home3{
    border-radius: 10px;
    width: 110px;
    height: 40px;
    background-color: aquamarine;
}
.away3{
    border-radius: 10px;
    width: 110px;
    height: 40px;
    background-color: aquamarine;
}
#hscore{
    font-size: 35px;
    color:cyan;
}
#ascore{
    font-size: 35px;
    color:cyan;
}
.home{
    font-size: 60px;
    color:cyan;
}
.away{
    font-size: 50px;
    color:cyan;
}
